{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; padding: 5px 20px; max-width: 800px; width: 80%; font: 18px/1.5 sans-serif;
    background-color: #e3f2fd; border-radius: 5px; }
</style>

    <h1 style="text-align:center">Site non professionnel de démonstration ! </h1>
<div class="example-wrapper">
<h2>Les  conférences:</h2>
{% for conference in conferences %}
    <h4>{{ conference }}</h4>
      <p>
            <a href="{{ path('conference', { slug: conference.slug }) }}">Voir</a>
      </p>
{% endfor %}
   
</div>
{% endblock %}
