{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; padding: 5px 20px; max-width: 800px; width: 80%; font: 18px/1.5 sans-serif;
    background-color: lightgreen; border-radius: 5px; }
</style>

<div class="example-wrapper">
    <h2>Faites nous part de votre ressenti !! </h2>

{% for conference in conferences %}
    <h4>{{ conference }}</h4>
{% endfor %}
   
</div>
{% endblock %}
